body {
  margin: 0;
  font-family: "Roboto Flex", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card,
.list-group-item {
  border: none !important;
}
